/johtek_ristinolla_alphaBeta/nbproject/private/
/johtek_ristinolla_alphaBeta/nbproject/dist/
/johtek_ristinolla_alphaBeta/build/
/spamham/nbproject/private/
/spamham/build/
/spamham/dist/
/Shakki/nbproject/private/
/Shakki/build/
/Shakki/dist/